.drop-box,
.drop-box-succeed {
  height: 250px;
  width: 350px;
  border-width: 2px;
  border-style: dashed;
  border-radius: 10px;
}

.drop-box {
  border-color: black;
}

.drop-box-succeed {
  border-color: green;
}

.drop-text,
.drop-text-succeed {
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}

.drop-text {
  color: gray;
}

.drop-text-succeed {
  color: green;
}
